body {
  color: #eee;
  font-size: large;
  padding: 0 10px;
  margin: 40px auto;
  font-family: sans-serif;
}

html {
  min-height: 100%;
  background: rgba(0,17,23,1);
}
a {
  color: #efefef;
  font-weight: bold;
}
img {
  max-width: 80%;
}
p {
  line-height: 1.5;
}
table {
  border-spacing: 0;
  width: 100%;
}
td,
th {
  border-bottom: 2px solid #e1e1e1;
  padding: 20px 24px;
  text-align: left;
}

#categories,
#tags {
  line-height: 0;
}

#tags {
  padding-bottom: 0.001em;
}
