<hr/>
<p><a href="/copyright">CC-BY-SA 4.0</a> | <a href="/copyright">Privacy</a> | <a href="/search">Search</a> | <a href="/donate">Donate</a> | We use no cookies</p>
{% block bottom %}
{% if allowJS %}
{{ assets.js('bottom')|raw }}
{% endif %}

{% if allowCSS %}
{{ assets.css('bottom')|raw }}
{% endif %}
{% endblock %}
