<a href="/"><img src="{{ url('theme://images/logo/ersei-n-stuff.svg') }}" alt="Ersei 'n Stuff"></a>

<br />
<br />

{% if site.metadata.description %}
{{ html5 ? '<aside>' : '<p class="subtitle">' }}
  {{ site.metadata.description }}
{{ html5 ? '</aside>' : '</p>' }}
{% endif %}

{% block header_navigation %}
    {% include 'partials/page/navigation.html.twig' %}
{% endblock %}

{% if grav.messages.all %}
    {% include 'partials/page/messages.html.twig' %}
{% endif %}
